@model ProductListModel

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryList")
    </div>
    <div class="col-md-9">

        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" name="name" value="@Model.ProductName" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        
        @*<partial name="_slider"/>*@

        <div class="row">

            @foreach (var product in Model.Products)
            {
                <partial name="_product" for="@product" />
            }
        </div>


    </div>
</div>

